$primary: #7289da;
// $navbar-background-color: #2c2f33;
// $navbar-item-color: white;
$navbar-item-hover-background-color:none;
$box-color:white; 
$box-background-color:#2c2f33;

@import "~bulma/bulma";